<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionTestSuite" parallel="classes" thread-count="5">
  <test name="RegrssionTest">
  <classes>
  	<class name="testrunners.TestRunnerRegistration"></class>
  	<class name="testrunners.TestRunnerShoppingPurchase"></class>
  	<class name="testrunners.TestRunnerSearch"></class>
  </classes>
  </test> <!-- RegrssionTest -->
</suite> <!-- RegressionTestSuite -->
